<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="try.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="full">
      <div class="left">
        <h1>9-DATES</h1>
        <h2>Find Your Otherself</h2>
        <ul>
          <li>You Are Looking for-- Men</li>
          <li>You Are Looking for-- Women</li>
          <li>You Are Looking for-- both !!!</li>
        </ul>
        <h2 class="jst">Just:</h2>

        <div>
          <a href="/login">Log in</a>
          <a href="#">Sign up</a>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
